@model ShortUrl.Web.Models.Item
@inject ShortUrl.Web.Services.IFormatService formatter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortUrl)
        </dt>
        <dd class="col-sm-10">
            <a href=@formatter.GetShortUrl(Model.ShortUrl)>@formatter.GetShortUrl(Model.ShortUrl)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class="col-sm-10">
            <img alt=@formatter.GetShortUrl(Model.ShortUrl) src=@formatter.GetFileName(Model.FileName) width="150" height="150" asp-append-version="true" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Home</a>
</div>
