@using ShortUrl.Web.Models
@using ShortUrl.Web.Services

@model IEnumerable<Item>
@inject IFormatService formatter

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayTextFor(model => item.Id)
            </td>
            <td>
                @Html.DisplayTextFor(model => item.OriginalUrl)
            </td>
            <td>
                @Html.DisplayTextFor(model => item.ShortUrl)
            </td>
            <td>
                @Html.DisplayTextFor(model => item.FileName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
    </table>
}
else
{
    <p>No items found</p>
}
